<template>
  <section :style="`background-image :url('${image}');`" class="comp">
    <transition
      name="view"
      appear
      enter-active-class="animated zoomInRight delay"
      leave-active-class="animated zoomOutLeft"
    >
      <section class="about">
        <h1 class="hello">
          Hello! c'est CHANEL OSTER developpeuse web polyvalente.
        </h1>
        <p class="bonne">
          Je suis une programmeuse avec une bonne connaissance des techniques
          front-end.
        </p>
        <p class="ordre">
          J'aime la structure et l'ordre et je défends également la qualité.
        </p>
        <p class="moi">
          Vous en apprendrez plus vite à mon sujet en jetant un oeil sur ce site
        </p>
      </section>
    </transition>
  </section>
</template>

<script>
export default {
  name: "About",
  components: {},
  // Stockage de l'objet style de l'image dans la propriété vue data.
  data() {
    return {
      image: require("../assets/img/content.jpg"),
    };
  },
};
</script>
<style scoped>
.about {
  flex-direction: column;
  text-align: center;
  color: #2c3e50;
  background-color: rgba(255, 255, 255, 0.541);
  margin: 15%;
  height: 45%;
  padding-top: 2%;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}
.comp {
  background-size: cover;
  height: 100%;
}
.hello {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
}
p {
  font-size: 1em;
}
/* media screen en mode tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    margin-top: 30%;
    width: 70%;
    margin-left: 15%;
    height: 35%;
  }
  .comp {
    object-fit: cover;
    height: 500%;
    background-size: 1000px 1200px;
    background-repeat: no-repeat;
  }
}
/* media screen en mode telephone */
@media screen and (max-width: 767px) {
  .about {
    margin-top: 55%;
    width: 90%;
    margin-left: 5.5%;
    height: 35%;
  }
  .comp {
    background-repeat: no-repeat;
    background-size: 550px 2000px;
  }
}
</style>