<template>
  <section>
    <h2>MES COMPÉTENCES A VOTRE SERVICE</h2>
    <section class="conteneur">
      <article class="btn">
        <p class="titre">GESTION DE PROJETS WEB</p>
        <p class="sous-titre">Site vitrine</p>
        <p class="titre">
          APPLICATION SPECIFIQUES ET INTERFACE D'ADMINISTRATION
        </p>
        <p class="sous-titre">PHP, MYSQL, SQL, Symfony</p>
        <p class="titre">MISE EN PLACE| MODIFICATION| GESTION DE CMS</p>
        <p class="sous-titre">Wordpress, phpBB</p>
        <p class="titre">INTEGRATION (X)HTML/CSS</p>
        <p class="sous-titre">
          Codage à la main respectueux des standards du web
        </p>
        <p class="titre">DYNAMISE DES PAGES PAR JAVASCRIPT</p>
        <p class="sous-titre">JavaScript, VueJs, ReactJs</p>
        <p class="titre">CONCEPTION MULTI-PLATEFORMES</p>
        <p class="sous-titre">
          Compatible sur tous supports, tablette et application mobile
        </p>
      </article>
      <article class="chart">
        <p class="titre-chart">Compétences en développement</p>
        <bar-chart class="graph" :data="state.competencesData"> </bar-chart>
      </article>
    </section>
  </section>
</template>

<script>
import { onMounted, reactive } from "@vue/runtime-core";
import "firebase/database";
import "chartkick/chart.js";
import { productCollection } from "../chart/firebase";

export default {
  methods: {
    refresh() {
      window.location.reload();
    },
  },
  name: "Competences",
  components: {},
  setup() {
    const state = reactive({
      competencesData: {},
    });
    onMounted(async () => {
      let competencesDataSet = await productCollection.once("value");
      state.competencesData = competencesDataSet.val();
    });
    return { state };
  },
};
</script>
<style scoped>
h2 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.45em;
  font-weight: 700;
  margin-bottom: 0.1em;
  letter-spacing: -2px;
   text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
  text-transform: lowercase;
  width: 100%;
  color: #2c3e50;
}
.btn {
  color: #2c3e50;
  font-size: 12px;
  margin: 60px;
}
.titre {
  font-weight: bold;
  margin-top: 2%;
}
.sous-titre {
  margin-left: 2%;
}
.conteneur {
  display: flex;
  /* border: 1px solid red; */
}
.titre-chart {
  margin-left: 15%;
  margin-top: 21%;
  font-size: 1.2em;
  color: #2c3e50;
  font-weight: 700;
  letter-spacing: -2px;
  /* text-transform: lowercase; */
}
.chart {
  border: 2px solid #7a7a7ac0;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  width: 38%;
}
.graph {
  margin: 5%;
  margin-top: 10%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .conteneur {
    flex-direction: column;
  }
  .btn {
    font-size: 12px;
    margin-left: 2%;
    padding-left: 15px;
    width: 100%;
    margin-top: 0px;
    min-height: 50%;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -2px;
  }
  .titre-chart {
    margin-top: 0px;
    font-size: 1em;
    letter-spacing: 0.1px;
  }
  .chart {
    width: 70vw;
    border: none;
    min-height: 62vh;
    margin-top: 0px;
  }
  .graph {
    margin-top: 0px;
    min-height: 54vh;
  }
}
@media screen and (max-width: 767px) {
 .conteneur {
    flex-direction: column;
  }
  .btn {
    font-size: 12px;
    margin-left: 2%;
    padding-left: 15px;
    width: 100%;
    margin-top: 50px;
    min-height: 50%;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 20%;
  }
  .titre-chart {
    margin-top: 0px;
    font-size: 1em;
    letter-spacing: 0.1px;
  }
  .chart {
    width: 80vw;
    border: none;
    min-height: 85vh;
    margin-top: 0px;
    
  }
  .graph {
    margin-top: 0px;
    min-height: 50vh;
  }
}
</style>