<template>
  <section class="principal">
    <div class="contact">
      <section class="titre">
        <p class="message">CONTACTEZ-MOI</p>
        <p class="question">
          UNE IDEE ? UN PROJET ? N'HESITEZ PAS A ME CONTACTER!
        </p>
      </section>

      <section class="contenu">
        <article class="adresse">
          <div>
            <img src="@/assets/img/address.png" alt="" />
            <p>ADRESSE</p>
            <p>9, allée au fil de l'eau 38300 Saint-Savin</p>
          </div>
          <div>
            <img src="@/assets/img/phone.png" alt="" />
            <p>TELEPHONE</p>
            <p>(+33)7.53.10.31.41</p>
          </div>
          <div>
            <img src="@/assets/img/mail.png" alt="" />
            <p>E-MAIL</p>
            <a href="" class="mail">osterchanel@gmail.com</a>
          </div>
          <div>
            <img src="@/assets/img/horaire.png" alt="" />
            <p>HORAIRES</p>
            <p>Lundi - Vendredi</p>
            <p>09H00 - 18H00</p>
          </div>
        </article>
        <composant-contact />
      </section>
    </div>
  </section>
</template>

<script>
import ComposantContact from "../components/ComposantContact.vue";
export default {
  name: "Contact",
  components: { ComposantContact },
};
</script>
<style scoped>
.contact {
  color: #2c3e50;
}
.message {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.45em;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 0.1em;
  text-transform: lowercase;
  width: 100%;
  text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
}
.question {
  background-color: #026ccf;
  width: 40%;
  font-weight: 700;
  font-size: 0.8em;
  color: #ecececec;
  margin-left: 30%;
  padding: 0.6%;
}
.contenu {
  display: flex;
  margin: 1.2vw;
}
.principal {
  min-height: 50vh;
}
.adresse {
  font-size: 0.8em;
  margin-left: 5%;
 
}
.adresse div {
  border-bottom: 0.1px solid #a0a091c0;
  margin-right: 30%;
  margin-bottom: 10px;
}
.mail {
  text-decoration: none;
}
img {
  width: 5%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .question {
    width: 50%;
    font-size: 0.7em;
    margin: 0;
    margin-left: 20%;
    text-align: center;
  }
  .message {
    font-size: 1.5em;
    width: 50%;
    margin-left: 22%;
  }
  .contenu {
    flex-direction: column;
  }
  .adresse {
    font-size: 0.6em;
    min-height: 10vh;
   
  }
}
@media screen and (max-width: 767px) {
  .question {
    width: 81%;
    margin-left: 7%;
  }
  .titre {
    margin-top: 20%;
  }
  .contenu {
    flex-direction: column;
  }
  .adresse {
    margin-top: 2%;
  }
}
</style>