<template>
  <div id="principal">
    <sidebar :toggleMenuBurger="toggleMenuBurger" v-bind:class="showMenu ? 'visible' : ''"></sidebar>
    
    <div class="content">
      <div
        id="menu-burger"
        v-bind:class="showMenu ? 'clicked' : ''"
        @click="toggleMenuBurger"
      >
        <div class="bar1"></div>
        <div class="bar2"></div> 
        <div class="bar3"></div>
      </div>

      <div class="trait">APPLICATION WEB & MOBILE</div>
      <router-view />
      <Footer />
    </div>
  </div>
</template> 
<script>
import Footer from "../components/Footer";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "principal",

  components: { Sidebar, Footer },
  data() {
    return {
      showMenu: false,
    };
  },
  created() {
    window.addEventListener("resize", this.checkScreen());
    this.checkScreen();
  },
  methods: {
    toggleMenuBurger() {
      this.showMenu = !this.showMenu;
    },
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 750) {
        this.showMenu = true;
        return;
      }
      this.showMenu = false;
      return;
    },
  },
};
</script>

<style >
#principal {
  display: flex;
  flex-direction: row;
  background-color: #2a2a2a;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  padding: 0;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}
.content {
  background-color: #fcfcfcce;
  border-radius: 20px;
  margin: 5px 5px 5px 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}
.trait {
  height: 48px;
  color: #ecececec;
  background-color: #026ccf;
  width: 38%;
  margin-left: 55vw;
  margin-top: 9%;
  transform: rotate(45deg);
  position: absolute;
  justify-content: center;
  font-size: 12px;
  line-height: 48px;
  z-index: 901;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  box-shadow: -2px 3px 1px rgb(0 0 0 / 23%);
}
.trait:hover {
  background-color: #0055a5;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #principal {
    min-height: 150%;
  }
  .content {
    min-height: 100%;
  }
  .trait {
    width: 80%;
    font-size: 8px;
    margin-left: 45vw;
    line-height: 37px;
     height: 35px;
  }
  #menu-burger {
    display: block;
    position: absolute;
    right: 3.5em;
    cursor: pointer;
    margin-top: 2%;
    /* border: 1px solid red; */
  }
  #menu-burger .bar1,
  #menu-burger .bar2,
  #menu-burger .bar3 {
    width: 45px;
    height: 7px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: #77838f;
  }
  #menu-burger:hover {
    opacity: 0.75;
    transition: 0.5s;
  }
  #menu-burger.clicked .bar1 {
    transform: rotate(-45deg) translate(-9px, 8px);
  }
  #menu-burger.clicked .bar2 {
    opacity: 0;
  }
  #menu-burger.clicked .bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .sidebar.visible {
    display: block;
    animation: slideTop 0.5s  ease-in forwards;
    transition-delay: 0;
    visibility: visible;
    position: absolute;
    z-index:1000;
    /* top: auto; */
  }
  
  .sidebar.invisible {
    display: block;
    animation:slideLeft 1s  ease-out forwards;
    transition-delay: 0;
    visibility: visible;
     z-index:1000;
  }
  /* Animations pour le menu slide */
  @keyframes slideTop {
    from {
      top: -100%;
    }
    to {
      top: 0%;
    }
  }
  
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}
@media screen and (max-width: 767px) {
   #principal {
    height: 190%;
  }
  .content {
    min-height: 100%;
  }
 .trait {
    width: 80%;
    font-size: 8px;
    margin-left: 45vw;
    line-height: 37px;
     height: 35px;
  }
  #menu-burger {
    display: block;
    position: absolute;
    right: 3.5em;
    cursor: pointer;
    margin-top: 2%;
    /* border: 1px solid red; */
  }
  #menu-burger .bar1,
  #menu-burger .bar2,
  #menu-burger .bar3 {
    width: 27px;
    height: 5px;
    margin: 5px 0;
    margin-left: 100%;
    transition: 0.4s;
    background-color: #2c3e50;
  }
  
  #menu-burger:hover {
    opacity: 0.75;
    transition: 0.5s;
  }
  #menu-burger.clicked .bar1 {
    transform: rotate(-45deg) translate(-9px, 5px);
  }
  #menu-burger.clicked .bar2 {
    opacity: 0;
  }
  #menu-burger.clicked .bar3 {
    transform: rotate(45deg) translate(-9px, -5px);
  }
  .sidebar.visible {
    display: block;
    animation: slideTop 0.5s  ease-in forwards;
    transition-delay: 0;
    visibility: visible;
    position: absolute;
    z-index:1000;
    /* top: auto; */
  }
  
  .sidebar.invisible {
    display: block;
    animation: slideLeft 1s  ease-out forwards;
    transition-delay: 0;
    visibility: visible;
    position: absolute;
     z-index:1000;
  }
  /* Animations pour le menu slide */
  @keyframes slideTop {
    from {
      top: -100%;
    }
    to {
      top: 0%;
    }
  }
  
  @keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
}
</style>
