<template>
  <section class="portfolio">
    <section>
      <h1 class="titre">{{ titre }}</h1>
      <p class="text">
        {{ text }}
      </p>
      <!-- boucle sur la liste des boutons de langage -->
      <button
        v-for="(item, index) in skills"
        :key="index"
        @click="changeSkill(index)"
        class="skills-nav-item"
      >
        {{ item.name }}
      </button>
      <small>
        Affichage de tous les projets. Il y'a un filter pour la liste de projets
        par chaque langage.
      </small>
    </section>
    <!-- boucle sur la liste des images a afficher -->
    <!-- <div class="vide"></div> -->
    <div class="list-container">
      <section
        class="image-list"
        v-for="(skill, index) in skills"
        :class="index === 0 ? 'active' : ''"
        :key="index"
        :data-index="index"
      >
        <!-- boucle sur les projects dans mon tableau skills -->
        <article
          v-for="(project, index) in skill.projects"
          :key="index"
          class="list-project"
        >
          <a href="#" target="_blank">
            <!-- <p>{{ project.name }}</p> -->
            <img :src="project.image" class="projet-image" />
          </a>
        </article>
      </section>
    </div>
  </section>
</template>
<script>
export default {
  name: "Projets",
  props: {
    titre: {
      type: String,
      default: "portfolio de développeuse web",
    },
    text: {
      type: String,
      default:
        "Des composants Web et des animations gsap, three.js à React.JS, Vue.JS et Node.JS. Découvrez mes derniers projets.",
    },
  },
  components: {},
  methods: {
    changeSkill(index) {
      const stringIndex = String(index);
      console.log(stringIndex);
      // constante qui pointe sur le container de la liste
      const skills = document.querySelectorAll(".image-list");

      // boucle pour donner le projet typique pour le langage
      for (let i = 0; i < skills.length; i++) {
        console.log(skills[i].dataset.index);
        if (skills[i].dataset.index === stringIndex)
          skills[i].classList.add("active");
        else skills[i].classList.remove("active");
      }
    },
  },
  data() {
    return {
      skills: [
        {
          name: "HTML/CSS",
          projects: [
            {
              // name: "HTML 1",
              image: require("../assets/img/image.png"),
            },
            {
              // name: "HTML 2",
              image: require("../assets/img/keyframe.png"),
            },
          ],
        },
        {
          name: "JAVASCRIPT",
          projects: [
            {
              // name: "JS 1",
              image: require("../assets/img/keyframe.png"),
            },
          ],
        },
        {
          name: "VUEJS",
          projects: [
            {
              // name: "JS 1",
              image: require("../assets/img/image.png"),
            },
          ],
        },
        {
          name: "REACTJS",
          projects: [
            {
              // name: "JS 1",
              image: require("../assets/img/keyframe.png"),
            },
            {
              // name: "JS 2",
              image: require("../assets/img/keyframe.png"),
            },
          ],
        },
        {
          name: "PHP",
          projects: [
            {
              // name: "JS 1",
              image: require("../assets/img/image.png"),
            },
            {
              // name: "JS 2",
              image: require("../assets/img/image.png"),
            },
          ],
        },
        {
          name: "MYSQL/SQL",
          projects: [
            {
              // name: "JS 1",
              image: require("../assets/img/keyframe.png"),
            },
            {
              // name: "JS 2",
              image: require("../assets/img/keyframe.png"),
            },
          ],
        },
      ],
    };
  },
};
</script>
<style scoped>
.portfolio {
  display: grid;
  color: #2c3e50;
  font-weight: 400;
}
.titre {
  font-size: 1.5em;
  line-height: 1.45em;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 0.1em;
  text-transform: lowercase;
  width: 100%;
  text-shadow: 2px 2px 0 rgb(0 0 0 / 15%);
  margin-left: 10%;
}
.text {
  font-size: 0.8em;
  width: 70%;
  margin-left: 10%;
}
small {
  line-height: 03em;
  padding: 0 4px;
  margin: 26px;
  margin-left: 10%;
  display: block;
  font-size: 0.8em;
}
.list-container {
  position: relative;
   /* border: 1px solid yellow; */
}
.image-list {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  width: 100%;
  height: 46.5vh;
  margin: 0px auto 0;
  display: none;
 /* border: 1px solid green; */
}
.image-list.active {
  display: flex;
}
a {
  box-shadow: 10px 10px 40px rgb(0 0 0 / 70%);
  width: 70%;
  height: 35vh;
  /* border: 1px solid blue; */
}
.list-project {
  display: flex;
  justify-content: space-around;
  width: 74%;
  height: 35vh;
  /* border: 1px solid red; */
}
.projet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  display: inline-block;
  padding: 8px 5px;
  border-width: 1px 1px 2px 1px;
  cursor: pointer;
  border-color: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.5em;
  line-height: 1em;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  margin: 3px;
  opacity: 1;
  position: relative;
  /* overflow: hidden; */
}

/* media screen en mode tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .titre {
    font-size: 1.5em;
  }
  .text {
    font-size: 0.8em;
  }
  small {
    font-size: 0.7em;
  }
  .list-container {
    position: relative;
    min-height: 49vh;
  }
  .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 96.1vh;
    margin: 0px auto 0;
    display: none;
    /* border: 1px solid yellow; */
  }
  .image-list.active {
    display: flex;
  }
  a {
    box-shadow: 10px 10px 40px rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
  }
  .list-project {
    display: flex;
    justify-content: space-around;
    width: 380px;
    object-fit: cover;
    object-position: unset;
    height: 250px;
    /* border: 1px solid red; */
  }
  .projet-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  button {
    display: inline-block;
    padding: 8px 5px;
    border-width: 1px 1px 2px 1px;
    cursor: pointer;
    border-color: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat, Tahoma, Arial, sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    margin: 3px;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
}
/* media screen en mode telephone */
@media screen and (max-width: 767px) {
  .titre {
    font-size: 1.5em;
    margin-top: 20%;
  }
  .text {
    font-size: 0.8em;
  }
  small {
    font-size: 0.6em;
  }
  .list-container {
    position: relative;
    min-height: 80vh;
    /* border: 1px solid red; */
  }
  .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 121vh;
    margin: 0px auto 0;
    display: none;
    /* border: 1px solid yellow; */
  }
  .image-list.active {
    display: flex;
  }
  a {
    box-shadow: 10px 10px 40px rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
  }
  .list-project {
    display: flex;
    justify-content: space-around;
    width: 380px;
    object-fit: cover;
    object-position: unset;
    height: 250px;
    /* border: 1px solid red; */
  }
}
</style>