<template>
  <!-- navigateur va valider l’adresse email dans le champ type=email avec novalidate en true -->
  <form action="" @submit.prevent="sendForm" novalidate="true">
    <section class="reponse-erreur">
      <!-- liste d'erreurs -->
      <p v-if="errors.length">
        <b>Veuillez corriger les erreurs suivantes:</b>
      </p>
      <!-- boucle for pour passer toute la liste d'erreurs -->
      <p v-for="(error, index) in errors" :key="index">
        {{ error }}
      </p>
    </section>
    <div class="input-nom">
      <label for="name">Nom </label>
      <input type="text" v-model="name" placeholder="Entrer Nom" name="nom" />
    </div>

    <div class="adresse-mail">
      <label for="mail">E-mail </label>
      <input
        class="input-email"
        type="email"
        v-model="email"
        placeholder="Entrer E-mail"
        name="email"
      />
    </div>

    <div class="message">
      <div class="input-message">
        <label class="msg" for="msg">Message </label>
        <textarea v-model="message" name="message"></textarea>
      </div>
      <button type="submit">Envoyer</button>
    </div>
  </form>
</template>

<script>
export default {
  name: "ComposantContact",
  data() {
    return {
      errors: [],
      name: null,
      email: null,
      message: null,
    };
  },
  methods: {
    // vérifier si le nom, prenom, téléphone etc sont vide
    sendForm: function () {
      // console.log("envoi de formulaire");
      this.errors = [];
      if (!this.name) {
        this.errors.push("Nom obligatoire.");
      }
      if (!this.email) {
        this.errors.push("Email obligatoire.");
      }
      if (!this.message) {
        this.errors.push("Message obligatoire.");
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Email valable obligatoire.");
      }
      if (!this.errors.length) {
        return true;
      }
    },
    // sinon  vérifier si le mail est bien écrit avec regex
    validEmail: function (email) {
      var regex = /^[\w-.]+@([\w-]+.)+[\w-]{2,4}$/g;
      return regex.test(email);
    },
    //creer une api qui va recevoir les données tapées par l'utilisateur
    //faire de sorte que l'api renvoie un message de validation
  },
};
</script>

<style scoped>
form {
  min-height: 100vh;
  margin-right: 20%;
}
.reponse-erreur b {
  color: rgb(192, 8, 8);
  font-size: 1em;
}
.reponse-erreur p {
  font-size: 0.7em;
}
label {
  font-size: 0.7em;
  margin-left: 7%;
}
.input-nom {
  margin-bottom: 5%;
  margin-top: 5%;
}
input {
  padding: 3%;
  margin-left: 2em;
  width: 25vw;
  box-sizing: border-box;
  border: 2px solid #ccc;
}
.input-email {
  margin-right: 10%;
  margin-bottom: 5%;
}
.msg {
  margin-left: 15%;
}
.message {
  display: flex;
  flex-direction: row;
  width: 150%;
 
}
textarea {
  width: 160%;
  margin-left: 10%;
  height: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
button {
  background-color: #026ccf;
  color: #ecececec;
  font-size: 0.7em;
  border: none;
  border-radius: 0.2em;
  height: 45px;
  margin-top: 20%;
  margin-left: 35%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  input {
    width: 48vw;
    margin-right: 35%;
    padding: 5px;
  }
  .input-email {
    margin-right: 35%;
  }
  textarea {
    height: 100px;
    width: 180%;
  }
  button {
    margin-top: 8%;
    margin-left: 25%;
  }
  label {
  font-size: 0.8em;
}
}
@media screen and (max-width: 767px) {
  input {
    width: 67vw;
    margin-right: 35%;
  }
  .input-email {
    margin-right: 35%;
    margin-bottom: 5%;
  }
  button {
    margin-top: 15%;
    margin-left: 30%;
  }
}
</style>
