<template>
  <footer>
    <section class="icone">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/chanel-osterdeveloppeurweb/"
      >
        <img src="@/assets/img/linkedin.png" alt="" />
      </a>
      <a class="face" href="https://www.facebook.com/joslinechanel.oster.5/">
        <img src="@/assets/img/face.png" alt="" />
      </a>
      <a class="git" href="https://github.com/chaneloster">
        <img src="@/assets/img/15.png" alt="" />
      </a>
      <a class="insta" href="https://www.instagram.com/josline_chanel/">
        <img src="@/assets/img/insta.jpg" alt="" />
      </a>
    </section>
    <p class="pieds">2022 - chanel OSTER - Tous droit réservés</p>
  </footer>
</template>


<script>
export default {};
</script>


<style scoped>
* {
  margin: 0;
  box-sizing: border-box;
}
.linkedin img {
  width: 2%;
  min-width: 9%;

  object-fit: contain;
}
.face img {
  width: 2%;
  min-width: 8%;
  object-fit: contain;
  margin-bottom: 0.5%;
}
.git img {
  min-width: 6%;
  width: 2%;
  margin-left: 1.5%;
  margin-bottom: 1.2%;
}
.insta img {
  min-width: 6%;
  width: 1%;
  margin-left: 2%;
  margin-bottom: 1.2%;
}
.icone {
  margin-left: 40%;
  animation: appear 1s linear 1s;
  transform: translateX(1000px);
  animation-fill-mode: forwards;
}
.pieds {
  margin-left: 1%;
  font-size: 0.8em;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 14%;
  background-color: #f7f3f3ec;
}
@keyframes appear {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* media screen en mode tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    top: 40px;
    min-height: 10%;
  }
   .pieds {
    margin-left: 5%;
  }
  .icone {
    width: 600px;
    top: 20%;
    margin-left: 57%;
    animation: appear 1s linear 3s;
    transform: translateX(2000px);
    animation-fill-mode: forwards;
  }
  @keyframes appear {
    from {
      transform: translateX(2000px);
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/* media screen en mode telephone */
@media screen and (max-width: 767px) {
  .pieds {
    margin-left: 2%;
  }
  footer {
    top: 40px;
    min-height: 10%;
  }
  .icone {
    width: 150vw;
    top: 20%;
    padding-left: 40%;
    animation: appear 1s linear 3s;
    transform: translateX(500px);
    animation-fill-mode: forwards;
  }
  @keyframes appear {
    from {
      transform: translateX(500px);
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
</style>
