<template>
  <section class="sidebar">
    <nav class="menu-items">
      <router-link
        @click.prevent="toggleMenuBurger"
        to="/about"
        active-class="active"
        exact
        tag="button"
        class="side-btn"
      >
        <section class="link-container">A propos</section>
      </router-link>
      <router-link
        @click.prevent="toggleMenuBurger"
        to="/competences"
        active-class="active"
        exact
        tag="button"
        class="side-btn"
      >
        <section class="link-container">Competences</section>
      </router-link>
      <router-link
        @click.prevent="toggleMenuBurger"
        to="/projets"
        active-class="active"
        exact
        tag="button"
        class="side-btn"
      >
        <section class="link-container">Portfolio</section>
      </router-link>
      <router-link
        @click.prevent="toggleMenuBurger"
        to="/contact"
        
        active-class="active"
        exact
        tag="button"
        class="side-btn"
      >
        <section class="link-container">Contact</section>
      </router-link>
    </nav>
  </section>
</template> 

<script>
export default {
  name: "Sidebar",
  props: {
    toggleMenuBurger: {
      type: Function,
      default: () => console.log('test')
    }
  }
};
</script>
<style scoped>
/* flexbox sur le menu */
.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  z-index: 8;
}
.menu-items > * {
  margin-top: 64px;
}
/* On customise les liens */
.side-btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #8a8a8a;
  font-size: 1.5em;
  background-color: transparent;
  width: 15vw;
  padding-left: 4vw;
  text-transform: uppercase;
  overflow: hidden;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.side-btn.active {
  position: relative;
  background-color: #fcfcfcce;
  color: #026ccf;
  margin-left: 10px;
  border-radius: 30px 0 0 30px;
}
.side-btn.active::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: #fcfcfc;
}
.side-btn.active::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  height: 30px;
  width: 30px;
  background-color: #fcfcfc;
}
.side-btn.active .link-container::before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: #2a2a2a;
}
.side-btn.active .link-container::after {
  content: "";
  position: absolute;
  bottom: -60px;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: #2a2a2a;
  z-index: 99;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .menu-items {
    position: absolute;
    z-index: 9999;
    top: -200%;
    background: #2a2a2a;
    padding: 4em 2em;
    width: 40vw;
    min-height: 80vh;
    /* box-shadow: 1px 0 1px #9a2519; */
  }
  .side-btn{
   /* border: 1px solid red; */
   width: 37.5vw;
   /* margin-left: 20%; */
 }
.side-btn.active .link-container::before {
  display: flex;
}

}
@media screen and (max-width: 767px) {
  .menu-items {
    position: absolute;
    z-index: 9999;
    top: -200%;
    background: #2a2a2a;
    padding: 4em 2em;
    width: 40vw;
    min-height: 80vh;
    /* box-shadow: 1px 0 1px #9a2519; */
  }
  .side-btn{
   /* border: 1px solid red; */
   width: 38.4vw;
   /* margin-left: 20%; */
 }
}
</style>
